.post-loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.post-list-container {
  padding: 20px;
}
.list-action__edit {
  color: #1890ff;
}
.input-search-container {
  padding: 14px 24px;
}
.input-search-container__input-box {
  width: 200px;
}
